/*  your css code here. If applicable */
#yellow{
	background:yellow;
     border:1px solid green ;
/* 	border-color:green; */
/* 	border-top-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
	border-right-style:solid; */
}
#red{
	background:red;
     border:1px solid black;
/* 	border-color:black; */
/* 	border-top-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
	border-right-style:solid;
	border-top-width:1px; */
}

#green{
	background:green;
     border:1px solid yellow;
/* 	border-color:yellow; */
/* border-top-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
	border-right-style:solid; */
}
	  